.mypage-main {
  background: #f8f8f8;
}

.mypage-contents {
  background-color: #FFF;
}

.mypage-profile {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  padding: 10vh 20vw;
}

.mypage-profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
}

.profile-img {
  height: 96px;
  width: 96px;
  margin-bottom: 30px;
  border-radius: 50%;
  background-position: center center;
}

.mypage-title {
  width: 15vw;
  font-size: 2vh;
  line-height: 1.0;
  font-weight: bold;
  text-align: center;
}

.mypage-profile-right {
  width: 80vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-profile-numbers {
  width: 45vw;
  display: flex;
  font-size: 25px;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 15px;
}

.mypage-profile-number {
  width: 80px;
  text-align: center;
}

.mypage-profile-units {
  width: 45vw;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.mypage-profile-unit {
  width: 80px;
  text-align: center;
}

.hr1 {
  position: relative;
	height: 3px;
  width: 80vw;
  border-width: 0;
  margin-bottom: 60px;
	background-color: #3ccace;
  }